body{
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: rgb(247, 175, 235);
}
nav{
    background-color: rgb(0, 201, 241);
    padding: 15px;
    
    }
nav a{
        color: rgb(255, 255, 255);
    }

img{
        border-radius: 10px;
        border: 3px solid orange;
    }
section{
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    
}