.box{
    width: 150px;
    height: 150px;
    background-color: chartreuse;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.3s ease;
}
.box:hover{
    transform: scale(1.05);
}

.button{
    width: 60px;
    height: 30px;
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
}

.button:hover{
    transform: scale(1.05);
}